.thumbnail-styling {
  width: 100%;
}
.link-home-video {
  text-decoration: none;
}

.profile-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

@media screen and (min-width: 768px) {
  .profile-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    min-width: 100%;
  }
}
.profile-image {
  width: 50px;
  height: 50px;
}
@media screen and (min-width: 768px) {
  .profile-image {
    width: 35px;
    height: 35px;
  }
}
.profile-title {
  color: #606060;
  font-weight: 500;
  font-family: 'Roboto';
  padding: 0px;
  margin: 0px;
}
@media screen and (min-width: 768px) {
  .profile-title {
    color: #606060;
    font-weight: 500;
    font-family: 'Roboto';
    padding: 0px;
    margin: 0px;
    font-size: 14px;
  }
}
.profile-text {
  color: #909090;
  font-weight: 500;
  font-weight: 'roboto';
  padding: 0px;
  margin: 0px;
}
.profile-all-text-container {
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .profile-text {
    color: #909090;
    font-weight: 500;
    font-weight: 'roboto';
    padding: 0px;
    margin: 0px;
    font-size: 12px;
  }
}
.profile-all-text-container {
  margin-left: 10px;
}
@media screen and (min-width: 768px) {
  .profile-all-text-container {
    margin-left: 10px;
    max-width: 100%;
  }
}
.profile-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
  width: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .profile-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .video-item-container {
    max-width: 300px;
    margin: 15px;
    cursor: pointer;
  }
}
.video-item-container {
  cursor: pointer;
}
